@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

body {
  margin: 0;
  font-family: "Courgette", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: "Courgette", cursive;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}
